.heading-text {
    margin-top: 30px;
    text-align: justify;
}

.blog-text {
    margin-bottom: 30px;
}

.sub-paragraph a {
    color: #62b6cb;
    text-decoration: none;
}

.sub-paragraph a:hover {
    color: rgba(98, 182, 203, 0.8);
    text-decoration: underline;
}

.sub-paragraph img {
    display: block;
    margin: auto;
}

.sub-paragraph {
    color: white;
    text-align: justify;
    line-height: 2;
    margin: auto;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
    padding-right: 24%;
    padding-left: 24%;
    margin-top: 30px;
}

.frac-line {
    position: relative;
    top: -2px;
    border-bottom: 1px solid white !important;
}

.youtube-blog-vid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.bulleted-list {
    margin-left: 4%;
    margin-right: 4%;
}

.blog-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    width: 70%;
}

.blog-title {
    color: white;
    text-align: center;
    line-height: 2;
    margin: auto;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    width: 52%;
    margin: auto;
    border-bottom: 1px solid white;
}

.previous-blog {
    float: left;
    text-decoration: none;
}

.next-blog {
    float: right;
    text-decoration: none;
}

.code-snippet {
    background-color: #f7eed5;
    color: #666;
    padding: 2px;
    border-radius: 2px;
    font-family: monospace;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    margin-left: 6px;
    margin-right: 6px;
}

.code-block {
    background-color: #f7eed5;
    color: #666;
    padding: 2px;
    border-radius: 2px;
    font-family: monospace;
    font-size: 14px;
    overflow: scroll;
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 100;
    font-style: normal;
}


.code-comment {
    color: darkgreen;
}

.tabbed-code {
    margin-left: 20px;
}

.math {
    font-style: oblique;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
}

.math-equation {
    text-align: center;
}

.math-symbol {
    position: relative;
    top: 2px;
}