.menu-button .MuiPaper-root {
    background-color: #232323 !important;
}

.menu-icon {
    color: white;
    width: 45px !important;
    height: 45px !important;
}

.menu-bar-text {
    display: flex;
}
